*{
	margin:0;
	padding:0;
}

ul{	
	
	list-style-type:none;
	float:left;
}
.game{
	display:none;
}
.box:hover .game{
	display:block;
}
.box1{
	position:absolute;
	top:25px;
}
.box1:hover .game1{
	display:block;
}
a{
	text-decoration:none;
}
.word:hover{
	color:red;
	text-decoration:underline;
}
.plan2{
	position:relative;
	top:-25px;
}