*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.bigbox{
	width: 1500px;	
}
.head{
	width:1180px;
	height: 65px;
	margin: 0 auto;
	/*overflow: hidden;*/

}
.head_left{
	margin: 11px 0 11px 0;
	float: left;
}
.head_value{
	float: left;
	height: 65px;
	margin: 20px 0 13px 52px;
}

.head_value input{
	height: 26px;
	width: 370px;
	box-shadow:0 0 5px #8ebefc inset;
	border: none;
	border-radius:5px 0px 0px 5px ;
	border: 1px solid #83befc;
}
.head_value button{
	float: right;
	width: 42px;
	height: 28px;
	background: #a4cbff;
	border: 0;
	border-radius: 0 5px 5px 0;
	outline: none;
	background: url(携程/fangdajing.jpg);
}
.head_value button:hover{
	background: url(携程/1221.png);
}
.head_line{
	width: 408px;
	height: 17px;
	float: left;
	margin: 18px 0 24px 150px;
	
}
.head_line ul{
	position: relative;
	float: left;
	background: #fff;
}
.head_line ul li{
	width: 135px;
	height: 33px;
	color: #4c4c4c;
	float: left;	
}
#head_001{
	width: 118px;
	height: 24px;
	margin:-2px 0 0 -7px;
	float: left;
	border:3px solid #fff;
}
#head_001:hover{
	border-right:3px solid #E4E7EB;
	border-top:3px solid #E4E7EB;
	border-left:3px solid #E4E7EB;
	border-bottom:3px solid #fff;
	border-radius: 5px 5px 0px 0px ;
}
.head_line ul li img{
	margin: 0 0 -3px 0 ;
}
.head_line ul li a{
	color: #4c4c4c;
	line-height: 19px;
	font-size: 12px;
	height: 19px;
	display: inline-block;
	text-align: center;
}
#xbk{
	float: left;
	height:3px;
	width: 118px;
	border-bottom: 3px solid white ;
	position: absolute;
	top:22px;
	z-index: 10;
}
.head_line_ul{
	width: 148px;
	height: 379px;
	padding: 0 10px 0 9px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.biankuan{
	width: 167px;
	height: 379px;
	border: 3px solid #E4E7EB;
	border-radius: 0 5px 5px 5px;
 	float: left;
 	position: absolute;
 	left: -7px;
 	top: 25px;
 	z-index:1;
 	display: none;
}
#line_bottom{
	margin: 0 0 1px 3px ;
}
.head_line_ul{
	/*display: none;*/
}

.head_line ul li:hover .head_line_ul{
	display: block;
}
.head_line ul li:hover .biankuan{
	display: block;
}
#aa11{
	width: 147px;
	height: 30px;
	line-height: 30px;
	border-top: 1px dotted #F6F6F6;
	
}
#aa11 img{
	margin: 0 0 -3px 0 ;
}
#aa11:hover {
	background: #f6f6f6;
}
#kfzx{
	width: 90px;
	float: left;
	height: 30px;
}
.telephone{
	height: 30px;
	line-height: 26px;
}
.tel{
	color: #0066cc;
}
.telephone{
	width: 120px;
}
.head_line ul li i{
	float:right;
	width:9px;
	height:24px;
	margin-left:6px;
	margin-top: -4px;
	background:url(携程/a002_03.png) no-repeat center;
}
.contact-phone{
	float: left;
	width:11px!important;
	height:17px!important;
	margin: 7px 0 0 13px;
	background: url(携程/aaa003_05.png)no-repeat center;
}
.contact-phone:hover{
	background: url(携程/aaa003_11.png)no-repeat center;
}
.contact-phone2{
	float: left;
	width:21px!important;
	height:16px!important;
	margin: 8px 0 0 13px;
	background: url(携程/aaa003_07.png)no-repeat center;
}
.contact-phone2:hover{
	background: url(携程/aaa003_12.png)no-repeat center;
}
/*----------------------------------第二部分--------------------------------*/

.base_nav{
	width: 1500px;
	height: 40px;
	background: #2577e3;
	z-index: -20;
}
.base_nav_1{
	width: 1180px;
	height: 40px;
	
	margin: 0 auto;
}
.cui_nav{
	float: left;
	position: relative;
    z-index:0 ;
    top: -33px;
    min-width: 980px !important;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: #2577e3;
}

/* ----------------------------开始第二部分---------------------------- */
.point{
	/* display:none; */
	position:absolute;
	bottom:0;

	left:66px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
/*  */
.point1{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:123px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point2{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:180px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point3{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:239px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point4{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:302px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point5{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:366px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point6{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:424px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point7{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:481px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point8{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:588px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point9{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:658px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point10{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:721px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.point11{
	/* display:none; */
	position:absolute;
	bottom:0;
	left:891px;
	margin-left:-7px;
	width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.cui_nav_li:hover .point{
	display:block;
}
.cui_nav_li:hover .point1{
	display:block;
}
.cui_nav_li:hover .point2{
	display:block;
}
.cui_nav_li:hover .point3{
	display:block;
}
.cui_nav_li:hover .point4{
	display:block;
}
.cui_nav_li:hover .point5{
	display:block;
}
.cui_nav_li:hover .point6{
	display:block;
}
.cui_nav_li:hover .point7{
	display:block;
}
.cui_nav_li:hover .point8{
	display:block;
}
.cui_nav_li:hover .point9{
	display:block;
}
.cui_nav_li:hover .point10{
	display:block;
}
.cui_nav_li:hover .point11{
	display:block;
}
/* -----------------------定位部分-------------------------------- */
#nav_word{
	position:absolute;
	left:0px;
}

.cui_nav_li{
	float: left;
	padding: 0 10px;
}
.cui_nav_li:hover{
	background:#0a56bb;
}
.cui_nav_li01{
	background:#2577e3 url(携程/bottom01_03.png)! no-repeat center;
}
.nav_a{
	color: white;
	line-height: 40px;

}
.cui_nav li:hover{

}
#cui_nav_img{
	margin: 0 0 3px 3px ;
}

.cui_nav_li01 ul{
	width: 1180px;
	height: 38px;
	position: absolute;
	left: 0;
	float:left;
	border-bottom: 1px solid #2577e3;	
	border-right: 1px solid #2577e3;
	border-left: 1px solid #2577e3;
	background:white;
	z-index:10;
}
.hotle_box{
	display: none;
}
.hotle{
	float: left;
	padding: 0 10px;	
	font-size: 14px;
	color: #333;
	margin-left: 20px;
}
.hotle a{
	color: #333;
}
.hotle1 a{
	color: #333;
}
.hotle1{
	float: left;
	padding-right: 10px;
	font-size: 14px;
	color: #333;
}
.hotle2{
	float: right;
}
#hotle_bg{
	margin: 0 0 -3px 0 ;
}
.hotle1:hover a{
	color: #3983e5;
}
.cui_nav_li:hover .hotle_box{
	display: block;
}
.labe_cn{
	width:52px;
	height:15px;
	position:absolute;
	top:-8px;
	z-index:1;
	background:#ff9913;
	color:white;

	font-size:12px;
	
	text-align:center;
	line-height:15px;
}
.labe_p{
	display:block;
	background:#ff9913;
	text-align:center;
}
#labe_a{
	color:white;
}
.sanjiaoxing{
	display:block;
	float:left;
	width:0px;
    height: 0px;
    border-top: 8px solid #da620a;
    border-right: 8px solid transparent;
	position:absolute;
	left:44px;
}
#right{
	width:150px;
	height:40px;
	float:right;
	margin-left:50px;
	background:#ff9913 url(携程/name111_20.png) no-repeat 5px 10px ;
	
}	
#right_value{
	display:inline-block;
	float:left;
	width:70px;
	height:20px;
	font-size:12px;
	line-height:20px;
	margin:0 0 0 20px ;
	color:white;
}
#right_wz{
	color:white;
}
#right_wz:hover{
	text-decoration:underline;
}
#right_value:hover em{
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid white;
}
#right_sjx{
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid white;
	float:right;
	margin:7px 7px 0px 0;
	display:block;
}
#right_sjx1{
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid white;
	float:right;
	margin:7px 7px 0px 0;
	display:none;
}
#right:hover #right_sjx{
	display:none;
}
#right:hover #right_sjx1{
	display:block;
}
#right:hover #right_box{
	display:block;
}
#right_box{
	width:128px;
	height:100px;
	position:absolute;
	top:40px;
	right:0;
	border-left:1px solid #8b8b8b;
	border-bottom:1px solid #8b8b8b;
	border-right:1px solid #8b8b8b;
	box-shadow:0 0 5px #8b8b8b;
	background:#fff;
	display:none;
}
#right_anniu{
	width:90px;
	height:35px;
	line-height:32px;
	font-size:16px;
	margin:12px 0px 0px 20px;
	border: 1px solid #d5790a;
	color: #fff;
	text-align:center;
	background:#ffba14;
	text-shadow: 1px 1px 0 #e57c00;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	border-radius:3px;
}
#right_ppp{
	font-size:12px;
	height:25px;
	line-height:25px;
	margin:0 0 0 20px ;
}
#right_ppp:hover{
	text-decoration:underline;
}
.mod_cui{
	width:1500px;
	height:40px;	
}
.mod_box{
	width:1180px;
	height:40px;
	margin:0 auto;
	
}
.mod_cui01{
	margin-top: -27px ;
	height:22px;
    float: left;
    /*margin: -24px 0 0 0	;*/
    padding: 0 5px;
    background: #74a8ed;
    color: #fff;
    font-size: 12px; 
	line-height:22px;
    font-weight: bold;
    border-radius: 2px;

}
.mod_cui01jt{
	
	float:left;
	margin:-21px 0 0 94px ;
	border-top: 5px solid transparent;
    border-left: 5px solid #74A8ED;
    border-bottom: 5px solid transparent;

}
#mod_aaa {
	color:#666666;
	font-size:12px;
	line-height:22px;
}
.mod_box_photo{
	margin:3px 3px 0px 0;
	float:left;
}
.mod_box_ul{
	margin:-27px 0 0px 100px;
	height:22px;
	float:left;
    left: 115px;
    top: 9px;
	width:1000px;

}
.mod_box li{
	float:left;
	margin-left:20px;
}
#mod_aaa:hover{
	color: #3983E5;
}
.mod_banner{
	width: 1500px;
	height: 340px;
	overflow: hidden;
}
.mod_bannerbg{
	float: left;
	width: 1392px;
	height: 340px;

}
.mod_bannerbg a{
	float: left;
}
.mod_bannerbg a img{

}
.mod_banner_ul{
	float: left;
	width: 580px;
    height: 300px;
    position: absolute;
    left: 159px;
    z-index: 12;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.mod_banner_ul ul{
	height:300px ;
	width: 94px;
	background: #2577E3;
	float: left;
}
.mod_banner_ul ul li{
	height: 42px;
	width: 60px;
	border-left: 4px solid #2577E3;
	background: #2577E3;
	color: #fff;
	padding: 0 17px 0 13px;
	line-height: 42px;
}
.banner_a{
	color: #fff;
}

.mod_banner_ul ul li:hover{
	border-left: 4px solid #FF9915;
	background: #fff;
}
.mod_banner_ul ul li:hover .banner_a{
	color: #2577E3;
}
.s_content{
	background-color: #fff;

    width: 446px;
    height: 275px;
    padding: 20px 20px 5px;
    overflow: hidden;
    text-align: left;
    float: left;
}

.s_subtab_a{
	position: relative;
    height: 20px;
    line-height: 20px;
    background-position: 0 -96px;
    background-repeat: repeat-x;
    margin-bottom: 8px;
    border-bottom: 2px solid #C4C4C4;
}
.s_subtab_a_wz{
	color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    height: 25px;
    float: left;
    margin-right: 20px;
}
.mod_banner_box1{
	width: 450px;
	height: 42px;

}
.mod_banner_box1 span{
	float: left;
	font-size: 14px;
	line-height: 40px;
	margin: 0 0 0 0 ;
}
.mod_banner_box1 input{
	width: 385px;
	height: 30px;
	outline-color: #5D9DE5;
	box-shadow: 0 0 3px #E4E4E4 inset;
	margin: 5px 0 0 10px ;
	border: 0;
}

.mod_banner_box2{
	
	height: 42px;
	float: left;
}
.mod_banner_box2 span{
	float: left;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	margin: 1px 0 0px 6px
}
.mod_banner_box2 input{
	width: 145px;
	height: 30px;
	outline-color: #5D9DE5;
	box-shadow: 0 0 5px #E4E4E4 inset;
	margin: 5px 0 0 10px ;
	border: 0;
}
.mod_banner_box3{
	width: 400px;
	height: 42px;
	float: left;
}
.mod_banner_box3 span{
	float: left;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	margin: 1px 0 0px 6px
}
.mod_banner_box3 select{
	width: 145px;
	height: 22px;
	margin: 10px 0 0 10px ;
	font-size: 12px;

}
.mod_banner_box4{
	float: left;
	height: 42px;
}
.mod_banner_box4 span{
	float: left;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	margin: 1px 0 0px 6px
}
.mod_banner_box4 input{
	width: 385px;
	height: 30px;
	outline-color: #5D9DE5;
	box-shadow: 0 0 5px #E4E4E4 inset;
	margin: 5px 0 0 10px ;
	border: 0;
}
.mod_banner_box5{
	float: left;
	width: 450px;
	height: 42px;
}
.mod_banner_box5 button{
	float: right;
	width: 145px;
	height: 33px;
	background:#ffb000 ;
	text-shadow: 1px 1px 0 #cf7000;
    color: #fff;
    border: 0;
    letter-spacing: 0.4em;
    font-size: 16px;
    text-indent: 0.4em;
    line-height: 33px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #8E6F4C;
}
.mod_banner_box5 button:hover{
	background: #F79700;
}
.mod_banner_box1,.mod_banner_box2.mod_banner_box3.mod_banner_box4{
	margin: 0 0 10px 0 ;
}
/*------------------进入图片部分----------------------*/
.travel{
    background: #f6f6f6;
    padding: 1px 0 40px 0;
    width: 1500px;
    height: 3161px;
}
.travel_bigbox{
	width: 1180px;
    margin: 28px auto 0;
}
.mod_title{
	width: 1180px;
	height: 36px;
	border-bottom: 2px solid #3983e5;
    text-align: left;
    position: relative;
}
.mod_hd{
	float: left;
}
.mod_title{
	float: left;
}
.mod_title p{
	font-family: "微软雅黑";
	font-size: 16px;
	line-height: 36px;
	position: relative;
}
.title_span{
	display: inline-block;
	margin-right: 30px;

	height: 38px;
	position: relative;
	line-height: 38px;
	float: left;
}
.title_span1{
	display: inline-block;
	margin-right: 30px;

	height: 38px;
	position: relative;
	line-height: 38px;
	float: left;
}
.title_span2{
	
}
.title_span a{
	color: #0066CC;
}
.title_span1 a {
	color: #333;
}
.title_span i{
	position: absolute;
    left: 50%;
    margin-left: -6px;
    bottom: 0px;
	display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 6px solid #3983e5;
    border-top: 0 none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;}
.title_span1:hover #mod_sjxx{
	display: block;
}
.title_span1:hover.title_span1 a {
	color: #0066CC;
}
.title_span3{
	width: 73px;
	height: 29px;
	float: right;
}
.title_span3 a{
	font-size: 12px;
	line-height: 16px;
	font: "微软雅黑";
	width: 73px;
	float: right;
	color: #3983E4;
margin: 20px -9px 0 0 ;
	
}
.title_span3 p{
	margin: 6px 10px 0 0 ;
	float:right;
	display: inline-block;
 	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3983E4;
}
.mod_photo1{
	padding: 15px 0px 0;
	height: 375px;
	float: left;
	background: #fff;
	width: 1178px;
}
.mod_photo1 ul{

	height: 20px;
	    margin-bottom: 10px;
}

.mod_photo1_li{
	float: left;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	background: #3983e5;
	border-radius: 3px;
	margin-right: 15px;
    padding: 0 8px;
    display: inline-block;
}
.mod_photo1_li2{
background:#fff ;
}
.xyh{
	color: #fff;
}
.xyh1{
	color:#3983e5;
}
.mod_photo1_li2:hover{
	background: #3983e5;	
}
.mod_photo1_li2:hover .xyh1{
	color: #fff;	

}
.aabxx{
	color:#3983e5;
	float: left;
}
.mod_photo1_li3{
	background: #F6F6F6;
	float: right;
	height: 20px;
	border: 1px solid #F6F6F6;
}
.mod_photo1_li3:hover{
	border: 1px solid  #3983E5;
	border-radius: 3px;
}
.somany_photo{
	height: 345px;
	width: 1140px;
	float: left;

}
.photo_no1{
	width: 220px;
	height: 168px;
	float: left;
	margin: 0 10px 10px 0;	
	position: relative;
}
.bg_photo{
	width: 220px;
	height: 123px;
	float: left;
}
.bg_photo img{
	width: 220px;
	height: 123px;
	
}
.photo_no1_1p{
	position: absolute;
	top: 98px;
	width: 100%;
	height: 25px;
    line-height: 25px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.photo_no1_2p{
	position: absolute;
	top: 118px;
	width: 100%;
	height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.photo_no1_3p{
	position: absolute;
	top: 135px;
	width: 100%;
	height: 35px;
    line-height: 35px;
    font-size: 12px;
    color: #B0B0B0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url(携程/images/jiage_03.png)no-repeat center right;
}

.tag_tag{
	display: inline-block;
    width: 41px;
    height: 41px;
    background: url(//pic.c-ctrip.com/platform/online/home/un_sprite_tag.png) 0 0 no-repeat;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 1.8;
    position: absolute;
    top: 0;
    left: 15px;
}
.photo_no2{
	width: 220px;
	height: 330px;
	float: left;
	top: -178px;
	position: relative;
}
.photo_no2_1p{
	position: absolute;
	top: 305px;
	width: 100%;
	height: 25px;
    line-height: 25px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}
.title_span_02{
	max-width: 150px;
	margin-right: 30px;
}
.mod_photo_word{
	position: relative;
    float: left;
    display: inline;
    width: 187px;
    height: 360px;
    padding: 0 20px 15px;
    overflow: hidden;
    border-right: 1px dotted #A3A3A3;
}
.mod_photo_word ul{
	max-width: 195px;
	height: 365px;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#jc_word{
	font: 700 14px/34px "Microsoft yahei";
}
.word_001{
	line-height: 18px;
    height: 18px;
    margin: 10px 0;
    
}
.word_001 a{
	color: #666;
	font-size: 12px;
}
.mod_photo_right{
	position: relative;
	width: 932px;
    height: :;px;
    margin-left: 208px;

    padding: 0px 19px;

}
/**/
.lineRight{
	padding: 0 0 0 39px ;
}

.rightBox{

	width:910px;
	height:330px;

	margin-left: 19px;
}
.rightAAA{
	position: relative;
	display: inline-block;
	width: 220px;
	height: 160px;
	margin: 3px 0 0 5px;
}
.rightAAA img{
	width: 220px;
	height: 160px;
	padding: 0 0 0 0 ;
	display: inline-block;
}
.rightBBB{
	width: 112px;
	height: 112px;
	float: left;
	position: absolute;
	border-radius: 50%;
	top: 24px;
	left: 52px;
	background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.item-name{
	position: absolute;
	top: 20px;
	left: 29px;
	height: auto;
    text-align: center;
    font: 700 18px/1.2 "Microsoft yahei";
    color: #fff;
    margin-bottom: 3px;
}
.item-num{
	position: absolute;
	top: 43px;
	left: 10px;
	color: #fff;
	font-size: 12px;
	width: 92px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	border-bottom: 1px solid #95A6B3;
}
.price{
	position: absolute;
	top: 60px;
	left: 27px;
	font: 22px/1.5 tahoma;
    color: #f60;
}
.price dfn{
	vertical-align: 7px;
    font: 12px/1.5 arial;
    color: #fff;
}
.nnnn{
	    margin-left: 3px;
    vertical-align: 2px;
    font: 12px/1.5 "Microsoft yahei";
    color: #fff;
}
.extra-thumbnail{
	float: right;
	width: 220px;
	height: 330px;
	position: relative;
}
.hwjdjbp{
	position: absolute;
	top: 335px;
	left: 728px;
	width: 220px;
	height: 25px;
    line-height: 25px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.rightAAA1{
	position: relative;
	display: inline-block;
	width: 220px;
	height: 160px;
	margin: 3px 0 0 10px;
}
.rightAAA2{
	position: relative;
	display: inline-block;
	width: 220px;
	height: 160px;
	margin: 3px 0 0 5px;
}
.mod_flightc{
	width: 1180px;
	height: 437px;
	
}
.product{
	width: 1141px;
	float: left;
    position: relative;
    height: 395px;
    padding: 15px 19px 0;
    background: #fff;
}
{
	width: 1140px;
	height: 353px;
	float: left;
}
.hzyh111{
	position: relative;
	width: 194px;
    height: 74px;
    padding: 15px 12px;
    background: #f8f8f8;
    margin: 10px 10px 10px 0;
    float: left;
}
.hzyh_001{
	position: relative;
	width: 194px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.hzyh_002{
	position: relative;
	width: 194px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    color: #A49999;
}
.hzyh_003{
	position: relative;
	width: 194px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    color: #A49999;
}
.price_001{
	position: absolute;
	top:60px;
	left: 19px;
}
.price_001 dfn{
	color: #A49999;
}  
.nnnn1{
	color: #A49999;
}
.liqiang{
	position: absolute;
	top: 60px;
	left: 153px;
	height: 27px;
    padding: 0 15px;
    font: 14px/27px "Microsoft yahei";
    margin: 3px 0 0 0;
    border: 0;
    border-radius: 3px;
    color: white;
	float: right;
	background-color: #ffb000;
}
.mod-car-bigbox{
	width: 1180px;
	margin: 0 auto;
	
}
.mod_car{
	width: 1180px;
    margin: 28px auto 0;
    height: 259px;
    float: left;

}
.mod-hd{
	position: relative;
    z-index: 10;
    height: 36px;
    border-bottom: 2px solid #3983e5;
    text-align: left;
}
.mod-bd{
	width: 1178px;
	height: 220px;
	background: white;
	float: left;
}
.mod_photo_word1{
	height: 205px;
} 
.mod-bd_right{
	width: 949px;
	height: 220px;
	float: left;

}
.mod-bd_right ul{
	margin: 15px 0 0px 15px;
}
.mod-bd_right-a{
	width: 200px;
	height: 168px;
	position: relative;
	float: left;
	margin: 10px 10px 0 15px;
	left: 20px;
}
.mod-bd_right-a img{
	width: 220px;
	height: 110px;
	float: left;
}
.photo_no1_2p1{
	position: absolute;
	margin-top: -10px;
	
}
.photo_no1_3p_1{
	float: left;
	position: absolute;
	top: 130px;
}
.mod_vas_bigbox{
	width: 1180px;
	margin: 0 auto;
	
}
.mod_vas{
	width: 1180px;
	height: 193px;
	float: left;
    margin: 28px auto 0;
}
.supply_box{
	width: 384px;
    height: 143px;
    float: left;
    margin-right: 7px;
    border: 1px solid #e0e0e0;
    background: #fff;
    margin-top: 10px;
}
.supply_box_bg{
	width: 110px;
	height: 89px;
	float: left;
}
.supply_box_bg span{
	float: right;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-top: 19px;
	background: url(携程/images/bgbg001_01.png)no-repeat center #ABCBF5;
}
.supply_box_right{
	width: 254px;
	height: 80px;
	padding-top: 15px;
    line-height: 1.5;
    float: left;
    margin-left: 20px;
}
.supply_box_right_p1{
    font: 16px/1.5 "Microsoft yahei";
    margin-bottom: 5px;
    color: #333;
}
.word_002{
	font-size: 12px;
	color: #666;
}
.mod_vas ul{
	float: left;
	height: 40px;
	margin: 8px 0 0 0 ;
	
}
#wenle img{
	vertical-align: middle;
}
#wenle1 img{
	vertical-align: middle;
}
#wenle{
	width: 95px;
	height: 24px;
	margin: 8px 0;
	font-size: 12px;
	line-height: 24px;
	float: left;
	text-align: center;
	border-right: 1px dashed #A3A3A3;
} 
#wenle1{
	width: 96px;
	height: 24px;
	margin: 8px 0;
	font-size: 12px;
	line-height: 24px;
	float: left;
	text-align: center;
	border: 0;
}
.wenlele_1{
	float: left;
}
.wenlele_1 img{
	vertical-align: middle;
}
#wenlele{
	width: 127px;
	height: 24px;
	margin: 8px 0;
	font-size: 12px;
	line-height: 24px;
	float: left;
	text-align: center;
	border-right: 1px dashed #A3A3A3;
}
.xyhzs{
	width: 1180px;
	height: 344px;
	float: left;
    margin: 28px auto 0;
    background: #fff;
}
.mod_x1{
	width: 1178px;
	border: 1px solid #E0E0E0;
	height: 98px;
}
