*{
	margin:0;
	padding:0;
}
.left{
	float:left;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#858585;
}
.bigbox{
	width:100%;
	margin:0 auto;
}
.head-img{
	width:1440px;
	margin:0 auto;
}
.head{
	width:1000px;
	margin:0 auto;
	height:95px;
}

.head-a>button{
	width:195px;
	height:54px;
	margin-top:-3px;

	border:0;
	outline:none;
	font-size:20px;
	font-weight:600;
	line-height:54px;
	color:#fff;
}
.head-a01{
	background:#019AF8;
}
.head-a02{
	background:#B6162E;
}
.head-a03{
	background:#7246CD;
}
.head-a04{
	background:#66AE30;
}
.head-a05{
	background:#F89805;
	margin-right:0;
}
.body{
	width:1000px;
	margin:0 auto;
	height:320px;
	margin-bottom:45px;
}
.body-table{
	float:left;
	width:561px;
	height:312px;
	border:4px solid #EAEAEA;
}
.body-table>h3{
	width:100%;
	font-size:20px;
	height:42px;
	line-height:4 00;
	padding-left:5px;
}
.body-table>table{
	width:542px;
	height:248px;
	border-left:1px solid #EAEAEA;
	border-top:1px solid #EAEAEA;
	margin-left:5px;
	font-size:12px;
	color:#676767;
	text-align:center;
}
.body-table>table>tr>td{
	width:100px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.body-a>td{
	color:#000;
	background:#E4F2FF	;
	border-right:1px solid #E4F2FF;
	border-bottom:1px solid #eaeaea;
}
.body-b>td{
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
}

.body-right{
	width:390px;
	height:320px;
	float:right;
}

.body-right-a{
	height:80px;
	width:390px;
	margin-bottom:39px;
}

.body-right-a>img{
	float:left;
	border:1px solid #D6D5D3;
}
.body-right-a>p{
	float:left;	
	width:245px;
	padding-left:10px;
	margin-bottom:15px;
	font-size:14px;
}
.body-right-a>span{
	float:left;
	width:60px;
	height:15px;
	background:#F5A947;
	font-size:11px;
	line-height:15px;
	color:#fff;
	margin-left:10px;
	margin-bottom:15px;
	text-align:center;
}
.body-right-a>h5{
	float:left;
	width:240px;
	padding-left:10px;
	font-weight:100;
	color:#666;
	font-size:12px;
}

.banner{
	width:100%
}
.banner-a{
	width:1000px;
	margin:0 auto;
}
.banner-a>h1{
	text-align:center;
	height:40px;
	font-size:31px;
	font-weight:100;
	line-height:40px;
	color:#017ED8;
}
.banner-a>h2{
	text-align:center;
	height:20px;
	line-height:20px;
	font-size:15px;
	font-weight:100;
	color:#017ED8;
}
